.footer .footer_list {
  background-color: var(--color-bg-btn);
  font-weight: 600;
  width: 100%;

  height: 40px;
}
.footer .footer_list li {
  list-style: none;
}
.footer .footer_link {
  margin-right: 40px;
  margin-left: 20px;
  font-size: 13px;
  color: var(--color-ash);
}
.footer .blank_space {
  height: 20px;
  background-color: rgb(196, 196, 196);
}
.footer .blank_space small {
  font-size: 12px;
  margin-left: 20px;
}
.footer .blank_space small span {
  color: rgb(124, 10, 10);
}
/*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
@media screen and (max-width: 1024px) {
  .footer .footer_link {
    margin-right: 0px;
    position: relative;
  }
}
